body {
    padding: 10%;
    padding-top: 5%;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 10%;
}

.header div {
  display: inline-block;
  width: 350px;
  top: 18px;
  left: 10px;
}

.nav {
    padding-left: 40%;
}

.profile {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.post {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.post_title {
    border: 1px solid black;
    border-radius: 5px;
}

#deals div div {
    background-color: #F9AA4A;
}

#events div div {
    background-color: #4286f4;
}

.post_title h3, img {
    display: inline-block;
}

.post_title h3 {
    position: relative;
    top: -5px;
    left: 15px;
}

.post_title img {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.verify {
    margin-right: 20px;
}

.post p {
    padding: 20px;
    padding-bottom: 15px;
}
